{% extends 'index.html' %}
{% block content %}
<h1 class="mm">Acerca de Mí</h1>
    <div class="container">
        <div class="clase">
            <img src="../static/img/foto6.jpeg" alt="" class="gg">
            <p class="costad">Hola me llamo Damian Aguero, ahora el proximo año voy a arrancar la facultad...La carrera que voy elegir va a ser Ing. en sistemas,
                y mas adelante la verdad que nose, la proyeccion mia de aca a 5 años es con un abano en un jacuzzi jaj, volviendo a la realidad, la verdad no lo se.
                <br>
                Mi signo zodiacal es piscis y como es de agua va justo con mi color favorito que es el celeste, tengo ascendencia en .....
                <br>
                Mi banda favortia es "La Renga" me parecen tan brillantes esas 3 personitas jaja
            </p>
           
        </div>
        <p id="nombre">Damian Aguero</p>
    </div>
{% endblock %}