{% extends 'index.html' %}
{% block content %}
<div class="contenedor">
    <h1 class="galerias">Galería de Fotos</h1>
    <div class="foto-grid">
        <img src="../static/img/foto2.jpeg" alt="Foto 2">
        <img src="../static/img/foto3.jpeg" alt="Foto 3">
        <img src="../static/img/foto4.jpeg" alt="Foto 4">
        <img src="../static/img/foto6.jpeg" alt="Foto 6">
        <img src="../static/img/foto7.jpeg" alt="Foto 7">
        <img src="../static/img/foto10.jpeg" alt="Foto 10">
        <img src="../static/img/foto11.jpeg" alt="Foto 11">
        <img src="../static/img/foto12.jpeg" alt="Foto 12">
        <img src="../static/img/WhatsApp Image 2024-08-02 at 2.00.34 PM.jpeg" alt="Foto 1">
        <img src="../static/img/foto5.jpeg" alt="Foto 5">
        <img src="../static/img/foto8.jpeg" alt="Foto 8">
        <img src="../static/img/foto9.jpeg" alt="Foto 9">


    </div>
</div>
{% endblock %}